container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/ondeck/app/manage.py migrate --noinput"
    leader_only: true
  02_createsuperuser:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/ondeck/app/manage.py my_createsuperuser"
    leader_only: true
  03_create_application:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/ondeck/app/manage.py create_firstparty"
    leader_only: true