container_commands:
    01_go_to_root_directory:
        command: "cd /"
    02_change_directory:
        command: "cd /usr/local/bin"
    03_make_directory:
        command: "mkdir ffmpeg"
    04_change_to_new_dir:
        command: "cd ffmpeg"
    05_download_ffmpeg:
        command: "sudo wget https://johnvansickle.com/ffmpeg/releases/ffmpeg-release-amd64-static.tar.xz"
    06_untar:
        command: "sudo tar -xz ffmpeg-release-amd64-static.tar.xz"
    07_cd_again:
        command: "cd ffmpeg-4.2.2-amd64-static"
    08_run_and_check_version:
        command: "./ffmpeg -version"
    09_create_symlink:
        command: "sudo ln -s /usr/local/bin/ffmpeg/ffmpeg-4.2.2-amd64-static/ffmpeg /usr/bin/ffmpeg"