container_commands:
  01_upgrade_pip:
    command: "/opt/python/run/venv/bin/pip install --upgrade pip"
  02_check:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/ondeck/app/manage.py check"
  03_migrate:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/ondeck/app/manage.py migrate --noinput"
    leader_only: true
  04_load_static:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/ondeck/app/manage.py collectstatic --noinput"
    leader_only: true
  05_createsuperuser:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/ondeck/app/manage.py my_createsuperuser"
    leader_only: true
  06_create_application:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/ondeck/app/manage.py create_firstparty"
    leader_only: true
