container_commands:
  01_upgrade_pip:
    command: "/opt/python/run/venv/bin/pip install --upgrade pip"
  02_check:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/ondeck/app/manage.py check"
  03_migrate:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/ondeck/app/manage.py migrate --noinput"
    leader_only: true
  04_load_static:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/ondeck/app/manage.py collectstatic --noinput"
    leader_only: true
  05_createsuperuser:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/ondeck/app/manage.py my_createsuperuser"
    leader_only: true
  06_create_application:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/ondeck/app/manage.py create_firstparty"
    leader_only: true
  07_uninstall_pycurl:
    command: '/usr/bin/yes | sudo /opt/python/run/venv/bin/pip3 uninstall pycurl'
  08_export_sll:
    command: 'export PYCURL_SSL_LIBRARY=openssl'
  09_reinstall_pycurl:
    command: 'sudo python3 -m pip install --compile pycurl'
  10_reinstall_pycurl_in_environment:
    command: 'sudo /opt/python/run/venv/bin/pip3 install pycurl --global-option="--with-openssl"'
