container_commands:
  01_create_configuration_script:
    command: "cat .ebextensions/files/server_config.txt > /opt/elasticbeanstalk/hooks/appdeploy/post/server_config.sh && chmod 744 /opt/elasticbeanstalk/hooks/appdeploy/post/server_config.sh"
  02_run_script:
    command: "/opt/elasticbeanstalk/hooks/appdeploy/post/server_config.sh"
