packages:
  yum:
    libcurl-devel: []
    openssl-devel: []

container_commands:
  01_mkdir_for_log_and_pid:
    command: 'mkdir -p /var/log/celery/ /var/run/celery/'
  02_delete_old_pid_file:
    command: "unlink celerybeat.pid"
    cwd: "/tmp"
    ignoreErrors: true
  03_restart_celery:
    command: "/usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf restart celeryd"
  04_restart_beat:
    command: "/usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf restart celeryd-beat"
    leader_only: true
