packages:
  yum:
    libcurl-devel: []
    openssl-devel: []

container_commands:
  01_mkdir_for_log_and_pid:
    command: 'mkdir -p /var/log/celery/ /var/run/celery/'
  02_create_celery_beat_configuration_file:
    command: "cat .ebextensions/files/celery_configuration.txt > /opt/elasticbeanstalk/hooks/appdeploy/post/run_supervised_celeryd.sh && chmod 744 /opt/elasticbeanstalk/hooks/appdeploy/post/run_supervised_celeryd.sh && sed -i 's/\r$//' /opt/elasticbeanstalk/hooks/appdeploy/post/run_supervised_celeryd.sh"
  03_run_script:
    command: "/opt/elasticbeanstalk/hooks/appdeploy/post/run_supervised_celeryd.sh"
  04_delete_old_pid_file:
    command: "unlink -f celerybeat.pid"
    cwd: "/opt/python/ondeck/app"
  05_restart_beat:
    command: "/usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf restart celeryd-beat"
    leader_only: true