container_commands:
  01_mkdir_for_log:
    command: 'mkdir -p /var/log/daphne/ /var/run/daphne/'
  02_create_daphne_config_file:
    command: "cat .ebextensions/files/daphne_configuration.txt > /opt/elasticbeanstalk/hooks/appdeploy/post/run_supervised_daphne.sh && chmod 744 /opt/elasticbeanstalk/hooks/appdeploy/post/run_supervised_daphne.sh"
  03_run_script:
    command: "/opt/elasticbeanstalk/hooks/appdeploy/post/run_supervised_daphne.sh"

