container_commands:
  01_mkdir_for_log:
    command: 'mkdir -p /var/log/daphne/ /var/run/daphne/'
  02_create_daphne_config_file:
    command: "cat .ebextensions/files/daphne_configuration.txt > /opt/elasticbeanstalk/hooks/appdeploy/post/run_supervised_daphne.sh && chmod 744 /opt/elasticbeanstalk/hooks/appdeploy/post/run_supervised_daphne.sh"
  03_start_daphne:
    command: "/usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf restart daphne"
  04_start_workers:
    command: "/usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf restart worker:*"

