container_commands:
  01_mkdir_for_log:
    command: 'mkdir -p /var/log/daphne/ /var/run/daphne/'
  02_start_daphne:
    command: "/usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf restart daphne"
  03_start_workers:
    command: "/usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf restart worker:*"

