<!DOCTYPE html>
<html>
<head>
    <style>
        :root {
            --carnival: #572898;
            --space-cadet: #0c0804;
        }
        .text-carnival {
            color: var(--carnival);
        }

        a {
            color: var(--carnival);
            text-decoration: None;
        }
        a:hover{
            text-decoration: underline;
        }
    </style>
</head>
<body>

    <p style="font-size: 1.5rem;">
        {{ name }} has invited you to join <span style="color: #572898;" class="text-carnival">Revibe</span>.
    </p>
    <p>
        Click <a href="{{ register_link }}">here</a> to join now!
    </p>

</body>

</html>